body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: white; 
    color: black;
  }
  
  header {
    background-image: url('image.png'); /* Image PNG dans un sous-dossier 'images' */
    background-size: cover; /* Assure que l'image couvre toute la largeur */
    background-position: center; /* Centre l'image dans le bandeau */
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 0.5rem;
  }
  
  nav a {
    color: #444;
    text-decoration: none;
  }
  
  main {
    padding: 2rem;
    max-width: 900px;
    margin: auto;
  }
  
  section {
    margin-bottom: 3rem;
  }
  
  h2, h3, h4 {
    color: #444;
  }
  
  ul {
    margin-left: 1.5rem;
  }
  
  footer {
    text-align: center;
    background: #1a1a1a;
    color: white;
    padding: 1rem;
  }
  


  #Imaget {
    display: block;         
    margin: 40px auto;     
    width: 80%;             
    max-width: 1000px;     
    height: auto;     

  }


 #imageT6 {
    display: block;         
    margin: 40px auto;     
    width: 40%;             
    max-width: 1000px;     
    height: auto;     
  }



